.home{
  color: white;
  align-items: center;
  height: 80vh;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  margin: 50px 75px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.home-page{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.details-section{
  display: flex;
  flex-direction: column;
  /* margin-top: 6%; */
  height: 250px;
  width: 450px;
  justify-content: space-around;
}

.image-section{
  height: 250px;
  width: 250px;
  border-radius: 125px;
}

.contact-btn{
  width: 130px;
  height: 35px;
  border-radius: 20px;
  opacity: 0px;
  border: none;
  font-size: 18px;
  background-color:  rgba(87, 108, 188, 1);
  color: white;
}

.heading{
  font-size: 50px;
}

.text-d{
  font-size: 20px;
}
