.projects {
  background-color: rgb(113, 68, 197);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  max-width: 400px;
  height: 300px;
  background-color: #0C0C0C99;
}